:root {
  --font-size: 14px;
  --color-background: #fff;
  --color-primary: #111;
  --color-secondary: #555;
  --color-tertiary: #999;
  --color-underline: #e5e5e5;
  --spotlight-color: var(--color-background);
}

@media (prefers-color-scheme: dark) {
  :root {
    --font-size: 14px;
    --color-background: #111;
    --color-primary: #ff7700;
    --color-secondary: #bbb;
    --color-tertiary: #888;
    --color-underline: #333;
    --spotlight-color: rgba(255, 123, 0, 0.125);
  }
}

body {
  font-size: var(--font-size);
  font-family: Graphik, sans-serif;
}

@font-face {
  font-family: "Graphik";
  src: url("/fonts/graphik-regular.woff2") format("woff2");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}
