@import "reset.scss";
@import "variables.scss";
@import "themes.scss";

body {
  position: relative;
  height: 100%;
  width: 100%;
  display: table;
  font-family: "Inter", sans-serif;
}

p {
  color: rgb(var(--text-color));
}
