:root {
  --font-size: 14px;
  --color-background: #fff;
  --color-primary: #111;
  --color-secondary: #555;
  --color-tertiary: #999;
  --color-underline: #e5e5e5;
}

:root[data-theme="dark"] {
  --color-background: #111;
  --color-primary: #ff7b00;
  --color-secondary: #666;
  --color-tertiary: #444;
  --color-underline: #222;
}

body {
  font-size: var(--font-size);
  font-family: Graphik, sans-serif;
}

@font-face {
  font-family: "Graphik";
  src: url("/fonts/graphik-regular.woff2") format("woff2");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}
