@import "reset.scss";
@import "variables.scss";
@import "themes.scss";

body {
  position: relative;
  height: 100%;
  width: 100%;
  scroll-padding: 6rem;
  font-family: ui-sans-serif, system-ui, -apple-system, BlinkMacSystemFont,
    "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", sans-serif,
    "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
  -webkit-font-smoothing: antialiased;
}
