---
import BaseHead from "../components/BaseHead.astro";
import ProfileAbout from "../components/AboutSection.astro";
import ProfileContact from "../components/ContactSection.astro";
import ProfileExperience from "../components/ExperienceSection.astro";
import ProfileHeader from "../components/HeaderSection.astro";
import ProfileSideProjects from "../components/SideProjectSection.astro";
import { SITE_TITLE, SITE_DESCRIPTION } from "../consts";
---

<!doctype html>
<html lang="en">
  <head>
    <BaseHead title={SITE_TITLE} description={SITE_DESCRIPTION} />
  </head>
  <body
    class="bg-background antialiased text-secondary before:[&_li]:content-['-'] before:[&_li]:-ml-[1.1em] before:[&_li]:absolute"
  >
    <main
      class="min-h-[920px] w-full max-w-[540px] mx-auto flex flex-col gap-[3.75rem] py-[72px] px-6 sm:px-0"
    >
      <ProfileHeader />
      <ProfileAbout />
      <ProfileExperience />
      <ProfileSideProjects />
      <ProfileContact />
    </main>
  </body>
</html>
