---
import Section from "./Section.astro";
---

<Section title="About" className="gap-4 [&>h3]:mb-2 sm:[&>h3]:-mb-2">
  <div class="flex flex-col gap-4 ml-4 sm:ml-0">
    <p>
      Software generalist, working globally, building scalable solutions for the
      web.
    </p>
    <p>
      I specialize in architecting and developing robust applications from
      concept to deployment, 0 → 1, for startups and growing businesses.
    </p>
    <p>
      Always looking for the next challenge. <a
        class="border-b border-neutral-200"
        href="mailto:vlad@cuciureanu.net"
        target="_blank"
        rel="noreferrer">vlad@cuciureanu.net</a
      >
    </p>
  </div>
</Section>
