---
import Section from "./Section.astro";
import SectionItem from "./SectionItem.astro";
---

<Section title="Contact" className="gap-4 [&>h3]:mb-2">
  <SectionItem
    aside="Email"
    title="vlad@cuciureanu.net"
    href="mailto:vlad@cuciureanu.net"
  />
  <SectionItem
    aside="Github"
    title="VladCuciureanu"
    href="https://github.com/VladCuciureanu"
  />
  <SectionItem
    aside="LinkedIn"
    title="VladCuciureanu"
    href="https://www.linkedin.com/in/vlad-cuciureanu/"
  />
</Section>
