---

---

<section id="header-section" class="flex flex-row gap-4 -mb-6">
  <img
    draggable="false"
    alt="VladCuciureanu"
    src="https://github.com/VladCuciureanu.png"
    class="w-[92px] h-[92px] rounded-full"
  />
  <div class="flex flex-col justify-center mb-1">
    <h2 class="text-[20px] leading-[1.625rem]">Vlad Cuciureanu</h2>
    <p>Full-Stack Developer</p>
  </div>
</section>
