.Canvas {
  height: 100%;
  width: 100%;

  z-index: 30;

  & > div {
    height: 100%;
  }

  &,
  & * {
    user-select: none;
  }
}

.OffscreenCanvas {
  position: fixed;
  top: calc(-100% - 100px);
  left: calc(-100% - 100px);
  transform: scale(0, 0);
}
