.Title {
  text-align: center;
}

.Job {
  text-align: center;
}

.Divider {
  min-height: 1px;
  width: 7.5rem;
  margin: 4rem auto;

  background-color: rgb(var(--foreground-color) / 0.1);
}

.Prose {
  & p:not(:first-of-type) {
    margin-top: 1.5rem;
  }
}
